
{{define "index"}}
{{template "header"}}
<main>
   <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="font-weight-light">NANTA_CODE</h1>
        <p class="lead text-muted">Внизу все коды который мы имеем.Все для программистов и мы сделаем все возможное чтобы вы получили лучшие информации</p>
        <p><!---
          <a href="about.html" class="btn btn-primary my-2">О нас</a>
          <a href="category.html" class="btn btn-secondary my-2">Все категории</a>-->
        </p>
      </div>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <!--Первый контейнер-->
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://pbs.twimg.com/media/EVz22uCUMAcOqFD.jpg" width="100%" height="100%">
            <svg   class="bd-placeholder-img card-img-top"  xmlns="http://www.w3.org/2000/svg" width="100%" height="15"   
            aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" 
           ><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>

            <div class="card-body">
              <p class="card-text">Python.Все информация который будет вам полезен</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/python">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Посмотреть</button></a>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать</button>
                </div>
              </div>
            </div>
          </div>
        </div>
  <!--Второй контейнер-->
  <div class="col">
    <div class="card shadow-sm">
      <img src="https://i.pinimg.com/originals/c9/ed/c9/c9edc9b4e513f8683bd88fc6a8d6745c.png" width="100%" height="100%">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="55" xmlns="http://www.w3.org/2000/svg" width="100%" height="15" 
       aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" role="img" focusable="false">
      <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>

      <div class="card-body">
        <p class="card-text">Java.Все информация который будет вам полезен</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a href="/java">
            <button type="button"  class="btn btn-sm btn-outline-secondary">Посмотреть</button></a>
            <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать</button>
          </div>
          <small class="text-muted">9 минут</small>
        </div>
      </div>
    </div>
  </div>
           <!--Третий контейнер-->
           <div class="col">
            <div class="card shadow-sm">
              
              <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/153632786/original/37c604450de6715debcbdee4dc1e511aad0e94df/develop-a-complete-website-web-apis-ruby-on-rails.png" width="100%" height="100%">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="100" xmlns="http://www.w3.org/2000/svg" width="100%" height="15" 
               aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" role="img" focusable="false">
              <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
              <div class="card-body">
                <p class="card-text">Ruby.Все информация который будет вам полезен</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/ruby">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Посмотреть</button></a>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать</button>
                  </div>
                  <small class="text-muted">13 минут</small>
                </div>
              </div>
            </div>
          </div>
            <!--Четвертый контейнер-->
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://ipadstory.ru/wp-content/uploads/2020/06/x-1.jpg" width="100%" height="100%">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="65" xmlns="http://www.w3.org/2000/svg"  width="100%" height="15" 
                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" role="img" focusable="false">
                <title>Placeholder</title>><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                <div class="card-body">
                  <p class="card-text">C++ Системное программирование в платформе Windows.Все информация который будет вам полезен</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="/windows">
                      <button type="button"  class="btn btn-sm btn-outline-secondary">Посмотреть</button></a>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать</button>
                    </div>
                    <small class="text-muted">9 минут</small>
                  </div>
                </div>
              </div>
            </div>
             <!--Пятый контейнер-->
             <div class="col">
              <div class="card shadow-sm">
                <img src="https://i.pinimg.com/736x/d7/9d/f5/d79df5206e4a08883df7d30f1b243e33.jpg" width="100%" height="100%">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="50" xmlns="http://www.w3.org/2000/svg" width="100%" height="15" 
                 aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" role="img" focusable="false">
                <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                <div class="card-body">
                  <p class="card-text">Kotlin.Все информация который будет вам полезен</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="/kotlin">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Посмотреть</button></a>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать</button>
                    </div>
                    <small class="text-muted">54 минут</small>
                  </div>
                </div>
              </div>
            </div>

            <!--Шестой контейнер-->
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://www.vitoshacademy.com/wp-content/uploads/2015/08/php-elephant.png" width="100%" height="100%">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="25" xmlns="http://www.w3.org/2000/svg"  width="100%" height="15" 
                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" role="img" focusable="false">
            <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                <div class="card-body">
                  <p class="card-text">РHP.Все информация который будет вам полезен</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="/php">
                      <button type="button"  class="btn btn-sm btn-outline-secondary">Посмотреть</button></a>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать</button>
                    </div>
                    <small class="text-muted">34 минут</small>
                  </div>
                </div>
              </div>
            </div>
  <!--Седьмой контейнер-->
        <div class="col">
              <div class="card shadow-sm">
                <img src="https://im0-tub-kz.yandex.net/i?id=597c70f40ece45422939751813ba9cbd&n=13" width="100%" height="100%">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="25" xmlns="http://www.w3.org/2000/svg"  width="100%" height="15"
                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" role="img" focusable="false">
            <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                <div class="card-body">
                  <p class="card-text">JavaScript.Все информация который будет вам полезен.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="/javaScript">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Посмотреть</button></a>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать</button>
                    </div>
                    <small class="text-muted">9 минут</small>
                  </div>
                </div>
              </div>
            </div>
   <!--Восьмой контейнер-->
             <div class="col">
              <div class="card shadow-sm">
                <img src="https://miro.medium.com/max/1200/1*OY2AdoRFHEB70SRowaKrIg.png" width="100%" height="100%">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="25" xmlns="http://www.w3.org/2000/svg"  width="100%" height="15"
                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" role="img" focusable="false">
            <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                <div class="card-body">
                  <p class="card-text">HTML/CSS.Все информация который будет вам полезен.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="/html_css">
                      <button type="button"   class="btn btn-sm btn-outline-secondary">Посмотреть</button></a>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать</button>
                    </div>
                    <small class="text-muted">16 минут</small>
                  </div>
                </div>
  </div>
</div>
</div>
</div>
{{template "footer"}}
{{end}}


